<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find fusion2urdf_description)/urdf/fusion2urdf.xacro"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model fusion2urdf"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen">
    <param name="~scale_linear" type="double" value="0.5"/>
    <param name="~scale_angular" type="double" value="1.0"/>
  </node>

</launch>
